<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Libs -->
    <script src="/public/lib/vue.js"></script>
    <script src="/public/lib/vde.api.js"></script>
    <script src="/public/lib/extender.js"></script>
</head>
<body>

<div id="app">
    {{ sas }}
</div>

<script>
    (async () => {
        await VDE.initWithVue({
            windowSize: [440, 420],
            start() {
                VDE.tcpSocket({
                    host: 'fundux.ru',
                    port: 80,
                    format: 'text',
                    event: {
                        open() {
                            this.send('GET / HTTP/1.1\r\nHost: fundux.ru\r\nUser-Agent: Mozilla\r\nAccept: text/html\r\nConnection: close\r\n\r\n');
                        },
                        message(data) {
                            // console.log(data);
                            // console.log(data.length);
                        },
                        close() {
                            console.log('closed');
                        },
                        error() {
                            console.log('error');
                        }
                    }
                });
            },
            method: {

            },
            data: {
                sas: 1
            }
        });
    })();
</script>
</body>
</html>